//  @import '~@angular/material/_theming.scss';
//  @import "~@angular/material/prebuilt-themes/indigo-pink.css"; 
 //@import '../../../myapp-theme.scss';

mat-card#task {
    margin-right: 25px;
    margin-top: 25px;
    max-width: 500px;
    max-height: 500px;
    text-align: center;
    border-style: solid;
    border-radius: 25px;
    // border-color: mat-color('primary'); 
}
mat-card-title.title {
    text-align: center;
    font-weight: bold;
    font-size: 130%;
}
mat-chip.status {
    font-weight: bold;
    text-align: center;
    margin: auto;
}
.completed-image {
    background-image: url('https://vignette.wikia.nocookie.net/clubpenguin/images/2/22/Puffle_Tasks_Icon.png/revision/latest?cb=20130322073714');
    background-size: cover;
}
.pending-image {
    background-image: url('https://www.odoo.com/apps/icon_image?module_id=29658');
    background-size: cover;
}
a {
    font-size: large;
}
label {
    font-size: large;
}